.photo_lodgment {
  display: flex;
  width: 80%;
  height: 415px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 25px;
}

.arrow_left {
  position: absolute;
  width: 30px;
  height: 60px;
  left: 12%;
  top: 42%;
  transform: translateY(-50%);
}

.arrow_right {
  position: absolute;
  width: 30px;
  height: 60px;
  right: 12%;
  top: 42%;
  transform: translateY(-50%);
}

.photo_num {
  position: absolute;
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  bottom: auto;
  left: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -120%);
}

@media (max-width: 768px) {
  .photo_lodgment {
    width: 90%;
    height: 255px;
  }

  .arrow_left {
    top: 28%;
    left: 8%;
  }

  .arrow_right {
    top: 28%;
    right: 8%;
  }

  .photo_num {
    transform: translate(-50%, -110%);
  }
}
