header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

header img {
  width: 20%;
  margin-left: 4em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav li {
  margin-left: 4em;
}

nav a {
  font-size: 24px;
  color: #ff6060;
  text-decoration: none;
}

nav a.active {
  text-decoration: underline;
  color: #ff6060;
}

/* media queries */

@media (max-width: 768px) {
  * {
    max-width: 100%;
  }

  header {
    flex-direction: row;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  header img {
    width: 40%;
    margin-left: 1em;
  }
  nav ul li {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 12px;
  }
}
